@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');

/* Code used from Love Running project to remove browser defaults */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings*/

h1,
h2 {
    font-family: Montserrat Alternates, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #252525
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    text-align: center;
    font-size: 375%;
    line-height: 100px;
}

.logo-img {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 30px;
    background: url('../images/sloth-yoga1.png');
}

/*navigation*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #17adc9;
}

.active {
    border-bottom: 1px solid #17adc9;
}

#hero-image {
    height: 600px;
    width: 100%;
    padding: 10px 0 10px 0;
    overflow: hidden;
    background: url('../images/hero-image1.jpg') no-repeat center center;
}

/* quotation styling*/

#quotation {
    text-align: center;
    margin: 10px 120px 10px 120px;
    line-height: 1.5;
}

/* About Us section styling*/

.about-us {
    text-align: center;
    margin: 0 120px;
    padding: 0;
    line-height: 1.5;
}

#about-us-title {
    font-size: 225%;
}

/* footer styling */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    height: auto;
    width: 100vw;
}

.footer-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-icons li {
    font-size: 150%;
    margin: 0 50px;
}

/* styling benefits page */

#benefits {
    margin: 30px 30px 30px 50px;
}

.benefits-list {
    list-style-type: disc;
    font-family: Montserrat Alternates, sans-serif;
    text-align: left;
    margin: 30px 30px 30px 50px;
    color: #252525
}

.benefits-list > li {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.benefits-list p {
    color: #3a3a3a;
    font-weight: 300;
}

/* gallery */

#gallery-photos img {
    clear: both;
    column-count: 3;
    width: 600px;
    height: auto;
    box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.8);
}

#gallery-photos > img {
    width:50%;
}

/* contact us page styling*/

/* form styling */

.form {
    font-weight: bold;
    border-radius: 5px;
    background-color: #D1EAF0;
    padding: 30px;
}

input[type=text], input[type=email], input[type=number], textarea {
    width: 25%;
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 5px; /* rounded corners to match submit button*/
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

/* submit button styling*/

input[type=submit] {
    background-color: #48AAAD;
    color: #252525;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #007791; /* submit button hover */
}