@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Shalimar&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings*/

h1,
h2 {
    font-family: Shalimar, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#name {
    text-align: center;
    font-size: 300%;
}
