@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');

/* Code used from Love Running project to remove browser defaults */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings*/

h1,
h2 {
    font-family: Montserrat Alternates, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    text-align: center;
    font-size: 375%;
    line-height: 100px;
}

.logo-img {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 30px;
    background: url('../images/sloth-yoga1.png');
}

/*navigation*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-image {
    height: 600px;
    width: 100%;
    padding: 10px 0 10px 0;
    overflow: hidden;
    background: url('../images/hero-image1.jpg') no-repeat center center;
}

/* About Us section styling*/

.about-us {
    text-align: center;
    margin: 10px 120px 10px 120px;
    line-height: 1.5;
}

#about-us-title {
    font-size: 225%;
}

/* footer styling */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
}

.footer-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5px;
}

.footer-icons li {
    font-size: 150%;
    margin: 0 25px;
}